fastapi
uvicorn
langgraph
langchain
langchain-core
langchain-community
langchain-chroma
langchain-text-splitters
langchain-google-genai
chromadb
sentence-transformers
pypdf
python-dotenv
pydantic
tavily-python
gradio
